body,
.btn.btn-primary.btn-file {
  background-color: rgba(21, 21, 30, 1) !important;
}


.list-group-item.node-treeview{
  color: white !important;
  background-color: rgba(21, 21, 30, 1);
  border: 0px !important;
}

.node-treeview:not(.node-disabled):hover {
 background-color: inherit !important;
}

#treeview-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#treeview-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#treeview-container::-webkit-scrollbar-track {
  background-color: transparent;
}

#header {
  position: fixed;
  top: 0;
  left: 2%;
  z-index: 9999;
  background-color: rgba(21, 21, 30, 1);
}

#header > p {
  padding: 10px 0 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.list-group-item{
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  div[class*="sidebar"] {
    left: -300px;
    /* position: absolute; */
  }
  #open-btn {
    display: block;
  }
  #header {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 5%;
  left: 0px;
  width: 245px;
  height: 95%;
  overflow-y: auto;
  background-color: rgba(21, 21, 30, 1);
  z-index: 9999 !important;
}