body,
.btn.btn-primary.btn-file {
  background-color: rgba(21, 21, 30, 1);
}
h1,
h2,
h3,
p,
h4,
pre {
  color: white;
}
@media only screen and (min-width: 0px) and (max-width: 1100px) {
  .image_mobile {
    display: block !important;
  }
  .image_mobile > div > img {
    width: 100% !important;
  }
  .image_desktop {
    display: none;
  }
}

.image_mobile {
  display: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

textarea {
  position: absolute;
  left: -100%;
}
