<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="[[ url_for('static', filename='asset/icon.ico') ]]">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="[[ url_for('static', filename='css/codes.css') ]]">
    <title>Codes</title>
</head>
<body>
    <h4 style="text-align: center;">Codes for: [[ file_names[-1] ]]</h4>
    [[= for content in file_contents=]]
    [[= autoescape true =]]
    <div style="border:1px solid black;">
        <button style="margin-left:10px;" class="btn btn-primary btn-file" onclick="copyFunction('[[loop.index0]]')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<path opacity="0.5" d="M18 2H9C7.34315 2 6 3.34315 6 5H8C8 4.44772 8.44772 4 9 4H18C18.5523 4 19 4.44772 19 5V16C19 16.5523 18.5523 17 18 17V19C19.6569 19 21 17.6569 21 16V5C21 3.34315 19.6569 2 18 2Z" fill="currentColor"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M14.7857 7.125H6.21429C5.62255 7.125 5.14286 7.6007 5.14286 8.1875V18.8125C5.14286 19.3993 5.62255 19.875 6.21429 19.875H14.7857C15.3774 19.875 15.8571 19.3993 15.8571 18.8125V8.1875C15.8571 7.6007 15.3774 7.125 14.7857 7.125ZM6.21429 5C4.43908 5 3 6.42709 3 8.1875V18.8125C3 20.5729 4.43909 22 6.21429 22H14.7857C16.5609 22 18 20.5729 18 18.8125V8.1875C18 6.42709 16.5609 5 14.7857 5H6.21429Z" fill="currentColor"></path>
		    </svg>            
        </button>
        <h4 style="display: inline; padding: 5px">[[file_names[loop.index0]]]</h4>
        <pre id="[[loop.index0]]" style="word-wrap: break-word; white-space: pre-wrap; margin-left:10px">
            [[content]]
        </pre>
    </div>
    [[= endautoescape =]]
    [[= endfor =]]
    <button type="button" class="btn btn-primary btn-floating btn-file" id="btn-back-to-top">
        <svg width="24px" height="24px" viewBox="0 0 0.72 0.72" id="up"  xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path id="primary" d="m0.591 0.279 -0.21 -0.21a0.03 0.03 0 0 0 -0.043 0l-0.21 0.21a0.03 0.03 0 0 0 0.043 0.043L0.33 0.162V0.63a0.03 0.03 0 0 0 0.06 0V0.162l0.159 0.159a0.03 0.03 0 0 0 0.043 0 0.03 0.03 0 0 0 0 -0.043Z"/></svg>
    </button>
    <script src="[[ url_for('static', filename='js/scroll.js')]]"></script>
    <script src="[[ url_for('static', filename='js/copy.js')]]"></script>
</body>
</html>