[([(= extends "base.html" =)])]

[([(= block content =)])]

<div class="container has-text-centered">
    <h1 class="title">
        Enter the download token to access the download.
    </h1>
    <br>
    <p style="color: #ed4444 !important;">[([( message )])]</p>
    <form method="POST" action="[([( url_for('main.courses') )])]/getdownloadaccess">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="downloadtoken" placeholder="Download Token">
            </div>
        </div>

        <button class="button is-block is-info is-large is-fullwidth">Get Access</button>
    </form>
</div>
[([(= endblock =)])]