<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monaco Editor with Explorer</title>
    <!-- Load Monaco Editor -->
    <link rel="stylesheet" href="[([( url_for('static', filename='css/editor.main.css') )])]">
    <link rel="stylesheet" href="[([( url_for('static', filename='css/codes.css') )])]">
    <link rel="icon" type="image/x-icon" href="[([( url_for('static', filename='asset/icon.ico') )])]">
    <script src="[([( url_for('static', filename='js/language-map.js') )])]"></script>
    <link href="[([( url_for('static', filename='css/bootstrap.min.css') )])]" rel="stylesheet">
    <link rel="stylesheet" href="[([( url_for('static', filename='css/bootstrap-treeview.min.css') )])]">
    <script src="[([( url_for('static', filename='js/jquery-3.5.1.min.js') )])]"></script>
    <script src="[([( url_for('static', filename='js/bootstrap.min.js') )])]"></script>
    <script src="[([( url_for('static', filename='js/bootstrap-treeview.min.js') )])]"></script>
    <script src="[([( url_for('static', filename='js/loader.js') )])]"></script>
    <script>
        function openNav() {
            const sidebarParent = document.querySelector('.sidebar');
            const isOpen = sidebarParent.style.left === '0px';

            // Toggle the sidebar state
            sidebarParent.style.left = isOpen ? '-300px' : '0px';
            sidebarParent.style.overflowY = isOpen ? 'hidden' : 'auto';
        }
    </script>
</head>

<body>
<button id="open-btn" class="btn btn-primary btn-floating btn-file" style="position: absolute; z-index: 10000;"
        onclick="openNav()" type="button">☰
</button>
<div class="container">
    <div class="row">
        <div class="col-1">
            <div id="treeview-container" class="sidebar">
                <ul id="header"><p>File Explorer</p></ul>
                <div id="treeview"></div>
            </div>
        </div>
        <div class="col-2">
            <div id="editor" class="editor-container"></div>
        </div>
    </div>
</div>
<!-- Load Monaco Editor scripts -->
<script>
    require.config({paths: {'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs'}});

    require(['vs/editor/editor.main'], function () {
        const editor = monaco.editor.create(document.getElementById('editor'), {
            value: 'Welcome to Monaco Editor!',
            language: 'plaintext',
            theme: 'vs-dark'
        });

        const explorer = document.getElementById('explorer');
        const fileList = document.getElementById('file-list');

        function fetchFileContent(encoded_folder_path, item) {
            fetch(`[([( url_for('main.courses') )])]/file-content/${encoded_folder_path}?encoded_path=[([( encoded_path )])]`)
                .then(response => response.text())
                .then(content => {
                    editor.setValue(content);
                    monaco.editor.setModelLanguage(editor.getModel(), getLanguage(item));
                })
                .catch(error => console.error('Error fetching file content:', error));
        }

        // Fetch folder structure and populate Bootstrap Treeview
        $(document).ready(function () {
            // Fetch folder structure
            fetch(`[([( url_for('main.courses') )])]/list-files?encoded_path=[([( encoded_path )])]`)
                .then(response => response.json())
                .then(data => {
                    $('#treeview').treeview({
                        data: data,
                        onNodeSelected: function (event, node) {
                            if (node.type === 'file') {
                                fetchFileContent(node.encoded_path, node.text);
                            }
                        }
                    });
                })
                .catch(error => console.error('Error fetching folder structure:', error));
        });

        function getLanguage(fileName) {
            const words = splitByHyphenOrSpace(fileName);
            for (let i = 0; i < words.length; i++) {
                var ext = switchCaseLanguage(words[i]);
                if (ext !== 'plaintext') {
                    return ext;
                }
            }
            var extFile = fileName.split('.').pop();
            var ext = switchCaseLanguage(extFile);
            if (ext !== 'plaintext') {
                return ext;
            }
            return 'plaintext';
        }

        function switchCaseLanguage(word) {
            console.log(languageMap[word]);
            if (languageMap[word] !== undefined) {
                return languageMap[word];
            }
            return 'plaintext';
        }

        function splitByHyphenOrSpace(fileName) {
            var fileNameWithoutExtension = fileName.replace(/\.[^/.]+$/, "");
            var words = fileNameWithoutExtension.split(/ |-/);
            return words.filter(word => word !== "");
        }
    });
</script>
</body>

</html>