<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='asset/icon.ico') }}">
    <title>Educative Viewer</title>
</head>
<body style="zoom: 80%">
    <br>
    <h1 style="text-align: center;">Educative Viewer</h1>
    <br>
    <div style="text-align: center;">
        <form action="/topics" method="POST">
            <input name="back" id="back" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Back">
            <input name="home" id="home" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Home">
            
            <input name="forward" id="forward" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Forward">
            <br>
            <div style="margin-top: 5px">
                
                {%if code_present %}
                <a target="_blank" class="btn btn-primary btn-file" style="text-align: center;" href="http://{{ip}}:5000/code/{{folder}}">Open Code in Browser</a>
                <input target="_blank" name="code_filesystem" id="code_filesystem" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Open Code in File System">
                {%endif %}
               
            </div>
        </form>

    </div>
    <div>
    <br>
    <h4 style="text-align: center;">Current Topic: {{webpage}}</h4>
        <div class="image_mobile">
            {% include webpage %}
        </div>
        <div class="image_desktop">
            {% include webpage %}
        </div>
    </div>
</body>
</html>