<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='asset/icon.ico') }}">
    <title>Educative Viewer</title>
</head>
<body style="zoom: 100%">
    <br>
    <h1 id="top" style="text-align: center;">Educative Viewer</h1>
    <br>
    <div style="text-align: center;">
        <form action="/topics" method="POST">
            <input name="back" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Back">
            <input name="home" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Home">
            <input name="next" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Next">
            <button type="button" style="display: inline-block;" class="btn btn-primary btn-file" onclick="window.location = window.location.href.split('#')[0];">Refresh</button>
            <br>
            <div style="margin-top: 5px">
                
                {%if code_present %}
                <a id="code" target="_blank" class="btn btn-primary btn-file" style="text-align: center;" href="/code/{{folder}}">Open Code in Browser</a>
                <input target="_blank" name="code_filesystem" id="code_filesystem" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Open Code in File System">
                {%endif %}
               
            </div>
        </form>

    </div>
    <div>
    <br>
    <form action="/topics" method="POST">
    <h4 style="text-align: center;">Current Topic: {{webpage}}</h4>
        <div class="image_desktop" style="filter: none; !important">
            {% include webpage %}
        </div>
    </form>
        
    </div>
    <div style="text-align: center;">
        <br>
        <form action="/topics" method="POST">
            <input name="home" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Home">
            <button type="button" style="display: inline-block;" class="btn btn-primary btn-file" onclick="window.location = window.location.href.split('#')[0];">Refresh</button>
            <br>
            <div style="margin-top: 5px">
                
                {%if code_present %}
                <a id="code" target="_blank" class="btn btn-primary btn-file" style="text-align: center;" href="/code/{{folder}}">Open Code in Browser</a>
                <input target="_blank" name="code_filesystem" id="code_filesystem" class="btn btn-primary btn-file" type="submit" style="text-align: center;" value="Open Code in File System">
                {%endif %}
               
            </div>
        </form>
    <button style="padding: 12px 18px;" type="button" class="btn btn-primary btn-floating btn-file" id="btn-back-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
    </button>
    <script src="{{ url_for('static', filename='js/scroll.js')}}"></script>
    </div>
</body>
</html>